/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
*.mp4
*.ogv
*.wmv
*.webm
*.mov
*.wav
*.docx
*.zip
*.001
*.pfsx
*~
*.gz
*.BAK
