/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
*.mp4
*.ogv
*.wmv
*.webm
*.mov
*.wav
*.docx
*.zip
*.001
*.pfsx
*~
*.gz
*.BAK

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
