{# app/Resources/views/default/indexCorpus.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    

        <div id="container">

            <div id="status">

		<h2>List of available Corpus
		<span style="float:right">
			<!--<a href="#help"><img src="question-mark.jpg"  height="42" width="42"></a>-->
		</span>
		</h2>


		<p>You can also use the <a href="search">BROWSE facility</a> to look for a specific file</p>
                <ul>
		{% for key, value in corpus %}
			<li><b>{{ key }}</b>: {{ value}} <a href="corpus/{{ key }}">more</a></li><hr/>
		{% endfor %}
		</ul>
            </div>

            <div id="status">
                <a name="help"></a>
		<h2>What's this?</h2>
		<p>
		    This web app contains different Audio Descriptions and related materials for the short movie 
		    "What Happens While" by Núnia Nia
                </p>
		<p>
		    The film, orginally in English, was dubbed into Spanish and Catalan and sent to professional studios to
		    get the corresponding audiodescriptions.
                </p>
		<p>
		    Additionally, you'll find audiodescriptions made by students (volunteers) for Spanish and Catalan.
                </p>
                <p>
                    You can find more info about the Visuals Into Words Project (ViW) <a href="http://pagines.uab.cat/viw/">here</a>
                </p>
            </div>

        </div>
 

{% endblock %}

{% block help %}
{{ help }}
{% endblock %}

