{% extends 'base.html.twig' %}

{% block body %}

    

        <div id="container">
            <div id="status">
		<h3>Choose one corpus to start searching</h1>
		
                <ul>
		{% for c in corpus %}
			<li><a href="{{ app.request.baseUrl }}/kwic/{{ c }}">{{ c }}</a></li><hr/>
		{% endfor %}
		</ul>
            </div>

            

        </div>
 

{% endblock %}


