{% extends 'base.html.twig' %}


{% block body %}

        <div id="container">
		
    		
    		<div id="status">
		<h3>List of available files (choose two files to plot them in the timeline):</h3>
		{% if error %}
   			 <p>{{ error }}</p>
		{% endif %}
		

		<form action="{{ path('density') }}" method="post">

		    {{ form_widget(form) }}

		    <input type="submit" />
		</form>

		</div>







	</div>

{% endblock %}




