{% extends 'base.html.twig' %}

{% block body %}

        <div id="container">
           
            <div id="status">
		<h2>List of available files for {{ node }} = {{ value }}</h1>
                <ul>
                    {% for file in files %}
                        <li>
			
    				 {{ file[0] }}: <a href="{{ url('_metadata', {'dir_id': file[1] ,'file_id': file[2] }) }}"> more</a>
			
			</li>
			<hr/>
		    {% endfor %}
                </ul>
            </div>

            

        </div>
    </div>

{% endblock %}

