{% extends 'base.html.twig' %}


{% block body %}

        <div id="container">
		<div id="status">
                	<h3>The '{{ corpus }}' corpus in the timeline</h3>
			<div id="right"><p><a href="../../corpus/{{ corpus }}">go back to '{{ corpus }}' corpus</a></p></div>
    			<div id="timeline" style="height: 800px;"></div>	
		</div>
	</div>

{% endblock %}


{% block javascripts %}
    

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['timeline']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var container = document.getElementById('timeline');
        var chart = new google.visualization.Timeline(container);
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn({ type: 'string', id: 'President' });
        dataTable.addColumn({ type: 'string', id: 'dummy bar label' });
        dataTable.addColumn({ type: 'string', role: 'tooltip' , 'p': {'html': true}});
        dataTable.addColumn({ type: 'number', id: 'Start' });
        dataTable.addColumn({ type: 'number', id: 'End' });
        dataTable.addRows([
          {{ key|raw }}
        ]);

	var options = {
        tooltip: {isHtml: true},
	timeline: {
        colorByRowLabel: true 
    	}, 
       };
        chart.draw(dataTable, options);
      }
    </script>


{% endblock %}


